
body{
    background-color: rgb(131, 130, 130);
    margin: 0%;
}



.nusen h1{
    text-align: center;
    background: #2b7a78;
    font-style: italic; 
    padding: 23px;
    width: 45px;    
    color: azure;
    border-radius: 46px;
    color:#2d2d2d ;
}

.navbar ul{
    text-align: center;
    list-style-type: none;
    background-color: #ff9d00;
    padding: 30px;
    overflow: hidden;
    border-radius: 60px;
}

.navbar a{

    color: azure;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
.navbar a:hover{
background-color: rgb(0, 111, 111)

   
}



.navbar li{
 float: left;
 text-align: center;
}



.vi video{
    text-align: center;
    padding-left: 186px;
}


.tabel{

text-align: center;

background-color: darkolivegreen;
}

.tabel th{
    color: darkorange;
    width: 597px;
}

.tabel tr{
    color: rgb(0, 0, 0);
}

h1{
    color: azure;
    text-align: center;
}



footer{
    color: beige;
}



p {
    background-color: #2d2d2d;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: yellow;
  }
  


  /* Login button la navgate*/
  button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #2b7a78;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  

  
  /* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav .login-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }


  /* ama bo rasmakana lagal texte zhere  */

.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }


