
h1{
    color: rgb(250, 108, 7);
}

body{
    background-color: grey;
}

ui{
   text-align: center;
}


form{
    background: white;
    text-align: center;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px white;
    margin:300px auto;
}


form input{

    margin-top:15px;
    width:60%;
    padding: 15px;
    border-radius: 10px;
    border:none;
    background:#f2f2f2;

}

form button{
    margin-top:15px;
    width: 140px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: goldenrod;
    box-shadow: 0px 0px 10px 0px goldenrod;
    color: #f2f2f2;
    transition: 0.5s;
    margin: 10px;
}

form button:hover{
    box-shadow: 0px 0px 10px 5px goldenrod;
}


form a{
    text-decoration: none;
    color: rgb(144, 0, 0);
    transition: 0.5s;
}
form a:hover{
    color: blue;
}


body{
    background-color: rgb(117, 117, 117);
}



.nusen h1{
    text-align: center;
    background: #2b7a78;
    font-style: italic; 
    padding: 15px;
    width: 66px;    
    color: azure;
}

.navbar ul{
    text-align: center;
    list-style-type: none;
    background-color: #ff9d00;
    padding: 30px;
    overflow: hidden;
}

.navbar a{

    color: azure;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
.navbar a:hover{
background-color: rgb(0, 111, 111)

   
}


.navbar li{
 float: left;
 text-align: center;
}



li login{
    background-color: aqua;
}